<a class="medium-screen align-self-start" href="./index.html"
  ><img class="icon" src="./img/logo_small.png" alt="Kochwelt Logo" />
</a>
<a class="large-screen" href="./index.html"
  ><img src="./img/logo.png" alt="Kochwelt Logo" />
</a>
<nav id="desktop-navigation">
  <a href="./index.html" class="nav-item">Start</a
  ><a href="./recipeoftheday.html" class="nav-item" onclick="populateRecipeTemplate(1)">Rezept des Tages</a
  ><a href="./contact.html" class="nav-item">Kontakt</a
  ><a href="./impressum.html" class="nav-item">Impressum</a>
</nav>
<div id="burger-menu" class="small-screen align-self-start">
  <img
    class="icon"
    src="./img/icons/menu-burger.png"
    alt="Burger Menü"
    onclick="toggleBurgerMenu()"
  />
  <nav id="mobile-navigation" class="isNotVisible mobile-navigation">
    <a href="./index.html" class="nav-item">Start</a
    ><a href="./recipeoftheday.html" class="nav-item" onclick="populateRecipeTemplate(1)">Rezept des Tages</a
    ><a href="./contact.html" class="nav-item">Kontakt</a
    ><a href="./impressum.html" class="nav-item">Impressum</a>
  </nav>
</div>
